@import "./sassRoot/variables/variables";
@import "./sassRoot/base/base";

@import "./sassRoot/pages/login.scss";
@import "./sassRoot/pages/404.scss";

//login page

input {
  width: 100%;
  box-shadow: 0px 0px 2px 0px #cccccc;
  border: none;
  height: 40px;
  padding: 0 15px;
  margin: 5px 0;
}

input::placeholder {
  color: #cccccc;
}

input:invalid,
.invalidInput {
  border: 1px solid red;
}
label {
  display: block;
  text-align: left;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;

  color: #515e73;
}

.muted {
  color: #b4b4b4;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.highlighted {
  color: #0099ff;
  font-weight: 500;
}

.error {
  color: red;
  text-align: left;
}
